/* Defining Variables */
:root{
  --primary-color: #b0559c;
  --secondary-color: #55b069;
  --special: #e3ea7e;
}

body {
  margin: 0;
  padding: 0;


  
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(5deg, var(--primary-color) 20%, var(--special) 90%)
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}


/* Main body */

main{
  padding: 20px;
  background-color: antiquewhite;
  height: 100dvh;
  text-align: center;
}