/* Defining Variables */
:root{
  --primary-color: #b0559c;
  --secondary-color: #55b069;
  --special: #e3ea7e;
  --pressed: #adb35e;
}


main{
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100dvh;
    margin: auto;
    background-image: linear-gradient(10deg, pink 5%, white 90%);
}

#chore-form{
    width: 20rem;
    border: 3px solid var(--special);
    padding: 20px;
    justify-self: center;
    border-radius: 30px;
    corner-shape: bevel;
   
    background-color: var(--secondary-color);

}

/* Chore type fieldset */
#chore-fs{
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    corner-shape: bevel;
   
    background-color: white;
}

legend{
    font-size: 1.5rem;
}

#submitbtn{
    width: 150px;
  padding: 10px 15px;
  background-color: var(--primary-color); /* Default state background */
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer; /* Indicates it's clickable */
  transition: background-color 0.3s ease; /* Smooth transition for hover */
  /* Add other button styles as needed (border, font, etc) */
  margin: 30px auto;
}

#submitbtn:hover {
  background-color: #0056b3; /* Hover state background */
}

#submitbtn:active {
  background-color: var(--pressed); /* Pressed/Active state background */
  transform: translateY(2px); /* Optional: A slight "press" animation */
}